{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create New Listings</h2>

    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title </label>
            <input type="text" name="title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description </label>
            <input type="text" name="description" class="form-control">
        </div>
        <div class="mb-3">
            <label for="imageurl" class="form-label">Image Url </label>
            <input type="text" name="imageurl" class="form-control">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price </label>
            <input type="number" name="price" class="form-control" min=1>
        </div>
        <div class="mb-3">
            <label for="category">Choose a Category:</label>
            <select name="category" id="category">
                {% for cat in categories %}
                <option value="{{ cat }}">{{ cat }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create New Listing</button>
    </form>

{% endblock %}